<%- include("header") -%>
<h1>About Page</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quam quos, id
  veniam beatae magni praesentium tenetur fuga necessitatibus ea atque?
  Laudantium quaerat illo doloremque error maiores officiis a, eos odit. Esse
  nihil ut odit sit.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dolor
  blanditiis dolore distinctio nihil placeat perspiciatis nisi molestias
  accusantium laudantium aperiam voluptates minus dolorem quis omnis, officia
  velit?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat necessitatibus
  quia voluptatum id hic eveniet illo ratione quaerat saepe, cupiditate maxime,
  iste aspernatur minima quas incidunt. Iste unde nesciunt nulla tempore amet
  officia voluptatum id! Eos, consequuntur beatae nihil culpa odit recusandae
  exercitationem itaque distinctio nemo necessitatibus eius, corporis
  perspiciatis animi cum voluptate. Ab veritatis animi nostrum dolorum sint
  exercitationem illo corporis. Dolor ex tempore quae impedit est, pariatur
  beatae rerum! Deserunt assumenda saepe, soluta dolorum placeat, cumque
  necessitatibus sit eaque repellat est nam dicta architecto iste ullam
  dignissimos accusamus voluptate modi beatae? Laudantium distinctio magnam
  reprehenderit suscipit obcaecati reiciendis rem corrupti aperiam error. Ad
  aperiam explicabo repudiandae voluptatibus dolor corporis optio iusto, minus
  consequuntur doloremque at temporibus necessitatibus vitae tempora deserunt
  eveniet numquam iste mollitia.
</p>
<%- include("footer") -%>
